#page-Cadastro {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

#page-Cadastro aside.aside-cadastro {
    float: left;
    clear: right;

    width: 50vw;
    height: 100vh;
    background-color: #fff;
}

#page-Cadastro div.Image {
    float: right;

    width: 50vw;
    height: 100vh;

    background-image: url("../../Images/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#page-Cadastro aside.aside-cadastro h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;

    margin-left: 64px;
    margin-top: 104px;
}

#page-Cadastro aside.aside-cadastro label {
    display: block;
    margin-left: 64px;
    margin-top: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

#page-Cadastro aside.aside-cadastro label.lblEmail {
    margin-top: 64px;
    margin-left: 64px;
}

#page-Cadastro aside.aside-cadastro input {
    background-color: #fff;

    outline: none;

    border: 1.5px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 5px;

    width: 73.5%;
    height: 56px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: rgba(0, 0, 0, 0.7);

    padding: 0 24px;

    display: block;
    margin-left: 64px;
    margin-top: 12px;
}

#page-Cadastro aside.aside-cadastro input:focus {
    border: 1.5px solid #7D0000;
    box-shadow: 0px 0px 25px rgba(176, 0, 0, 0.15);
    transition: 0.2s;
}

#page-Cadastro aside.aside-cadastro button {
    margin-left: 64px;
    margin-top: 64px;
}

#page-Cadastro aside.aside-cadastro p {
    margin-left: 64px;
    margin-top: 64px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

#page-Cadastro aside.aside-cadastro p .link {
    color: #BD2323;
    font-weight: bold;
}