#page-usuarios .content .contentText {
    width: 50%;
    height: 100%;

    float: left;
}

#page-usuarios .content .contentText h2{
    margin-top: 4%;
    margin-left: 7%;
}

#page-usuarios .content .contentText p{
    margin-left: 7%;
}

#page-usuarios .content .contentButtons {
    width: 41.4%;
    height: 100%;

    float: left;

    margin-left: 7%;
}