#page-item .accordionSection {
    width: 70vw;
    height: 100%;

    background-color: white;

    margin-left: 20%;
}

#page-item .accordionHeader {
    width: 70vw;
    height: 8vh;
    border: 1px solid black;

    background-color: #BD2323;

    margin-top: 5%;
}

#page-item .accordionHeader h1 {
    float: left;

    margin: 20px 40px;

    font-size: 30px;
    color: white;

}

#page-item .accordionHeader button {
    border: 0px solid transparent;
    background-color: transparent;

    float: right    ;

    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;

    margin-right: 6%;
    margin-top: 2.3%;

    color: white;

    outline: none;
}

#page-item .accordionHeader .btnAccordion {
    border: 0px solid transparent;
    background-color: transparent;

    float: right    ;
}

#page-item .accordionContent .content{
    width: 70vw;
    height: 8vh;
    border: 1px solid black;
    border-top: none;

    background-color: #ccc;

}

