#page-item .divItem {
    width: 70vw;
    height: 8vh;
    border: 1px solid black;

    background-color: #BD2323;

    margin-left: 20%;
    margin-top: 5%;
}

#page-item p.children {
    color: #BD2323;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;

    margin-top: 10%;
}

