#page-cadastro {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

#page-cadastro form {
    width: 40vw;
    height: 130vh;
    
    border: 1px solid black;
    border-radius: 40px;

    position: relative;
    left: 25%;
    top: 10%;
    float: left;

}

#page-cadastro form h1 {
    text-align: center;
    margin-top: 5%;
    position: relative;
}

#page-cadastro form hr {
    border: 0px solid transparent;
}

#page-cadastro form label {
    color: #000;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;

	margin: 10%;
}

#page-cadastro form input {
    width: 75%;
	height: 6.3vh;
    padding: 0 20px;
    
    background-color: rgba(196, 196, 196, 0.5);

	border: 1px solid grey;
	border-radius: 10px;

	outline: none;

    margin: auto 10%;
    margin-top: 15px;
    margin-bottom: 20px;

	font-size: 100%;

	max-height: 50px;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 1);
}