#page-login {
    width: 100vw;
    height: 100vh;
    background-image: url("../../Images/FundoEmbaçado.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
}

#page-login .login-box {
    width: 400px;
    height: 420px;

    border: 1px solid black;
    border-radius: 25px;

    background-color: rgba(255, 255, 255, 0.9);

    position: relative;

    margin: auto;
    margin-top: 15%;

    z-index: 0;

}

#page-login .login-box h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 46px;

    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

#page-login .login-box input {
    width: 68%;
    height: 4.8vh;

    border-radius: 15px;
    border: 2px solid rgba(189, 35, 35, 0.50);

    background: rgba(196, 196, 196, 0.50);

    margin: auto 16%;
    margin-top: 2%;

    padding: 2%;

    font-size: 100%;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);

    outline: none;  
}

#page-login .login-box button {
    width: 68%;
    height: 4.8vh;

    border-radius: 15px;
    border: 2px solid #BD2323;

    background: #BD2323;

    margin: auto 16%;
    margin-top: 2%;

    font-size: 2vh;
    color: #fff;
    font-weight: bold;

    outline: none;  
}

#page-login .login-box button:hover {
    background: #a11e1e;

    transition: background 0.2s;

    cursor: pointer;

    margin: auto 16%;
    margin-top: 2%;

    font-size: 2vh;
    color: #fff;
    font-weight: bold;

    outline: none;  
}

::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
 }

 #page-login .login-box a {
     padding: auto;
     margin-left: 35%;
    
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     color: #BD2323;
 }