.addCategoria {
    width: 70vw;
    height: 8vh;
    border: 1px solid black;

    margin-left: 20%;
    margin-top: 5%;
}

.addCategoria .btnCategoria {
    background-color: white;
    border: 1px solid transparent;

    width: 15vw;
    height: 100%;

}

.addCategoria .divPlus{
    width: 25%;
    height: 100%;
    
    float: left;
    clear: right;
}

.addCategoria .divPlus .plusIcon {
    color: #BD2323;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;

    margin-left: 33%;
    margin-top: 37%;
}