#page-Login {
    overflow: hidden;
}

#page-Login aside.aside-login {
    float: left;
    clear: right;

    width: 50vw;
    height: 100vh;
}

#page-Login aside.aside-login div {
    height: 100%;

    background-color: #fff;
}

#page-Login div.Image {
    float: right;

    width: 50vw;
    height: 100vh;

    background-image: url("../../Images/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#page-Login aside.aside-login h1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;

    color: #BD2323;

    margin-left: 64px;
    margin-top: 144px;
}

#page-Login aside.aside-login h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;

    margin-left: 64px;
    margin-top: 24px;

}

#page-Login aside.aside-login label.lblUsuario {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;

    display: block;

    margin-left: 64px;
    margin-top: 64px;
}

#page-Login aside.aside-login input.inputUsuario {
    background-color: #fff;

    outline: none;

    border: 1.5px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 5px;

    width: 73.5%;
    height: 56px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: rgba(0, 0, 0, 0.7);

    padding: 0 24px;

    display: block;
    margin-left: 64px;
    margin-top: 12px;
}

#page-Login aside.aside-login label.lblSenha {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;


    display: block;

    margin-left: 64px;
    margin-top: 24px;
}

#page-Login aside.aside-login input.inputSenha {
    background-color: #fff;

    outline: none;

    border: 1.5px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 5px;

    width: 73.5%;
    height: 56px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: rgba(0, 0, 0, 0.7);

    padding: 0 24px;

    display: block;
    margin-left: 64px;
    margin-top: 12px;
}

#page-Login aside.aside-login input:focus {
    border: 1.5px solid #7D0000;
    box-shadow: 0px 0px 25px rgba(176, 0, 0, 0.15);
    transition: 0.2s; 
}

#page-Login aside.aside-login button {
    margin-left: 64px;
    margin-top: 64px;
}

#page-Login aside.aside-login p.p1 {
    margin-left: 64px;
    margin-top: 64px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

#page-Login aside.aside-login p.p2 {
    margin-left: 64px;
    margin-top: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

#page-Login aside.aside-login p.p1 .link {
    color: #BD2323;
    font-weight: bold;
}

#page-Login aside.aside-login p.p2 .link {
    color: #BD2323;
    font-weight: bold;
}


::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
}

@media screen and (min-width: 1200px) and (max-width: 1367px) {
    
}